<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.model.Teacher">
	<!-- 配置基本映射 -->
	<resultMap type="com.xxx.model.Teacher" id="BaseRusultMap">
		<id property="id" column="id" />
		<result property="tecId" column="tec_id" />
		<result property="tecName" column="tec_name" />
		<result property="tecAge" column="tec_age" />
		<result property="tecTell" column="tec_tell" />
		<result property="tecSex" column="tec_sex" />
		<result property="tecAddr" column="tec_addr" />
	</resultMap>
	<!-- 插入数据 -->
	<insert parameterType="com.xxx.model.Teacher" id="insert">
		insert into teacher (
		tec_id,tec_name,tec_age,tec_tell,tec_sex,tec_addr
		)
		value(
		#{tecId},#{tecName},#{tecAge},#{tecTell},#{tecSex},#{tecAddr}
		)
	</insert>
	<!-- 根据ID来更新记录 -->
	<update id="updateByPrimaryKey" parameterType="com.xxx.model.Teacher">
		update teacher 
		set 
		tec_id = #{tecId},tec_name = #{tecName},tec_age = #{tecAge},
		tec_tell = #{tecTell},tec_sex = #{tecSex},tec_addr = #{tecAddr}
		where
		id = #{id}
	</update>
	<!-- 根据主键来删除记录 -->
	<delete id="deleteByPrimaryKey" parameterType="Integer" >
		delete from teacher
		where
		id = #{id}
	</delete>
	<!-- 根据id集合来删除多个数据 -->
	<delete id="deleteByIds">
		delete from teacher
		where id in
		<foreach item="item" collection="ids" open="(" 
		separator="," close=")">
		#{item}
		</foreach>
	</delete>
	<!-- 根据主键来查询单个数据 -->
	<select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
		select id,tec_id,tec_name,tec_age,tec_tell,tec_sex,tec_addr
		where id = #{id}
	</select>
	<!-- 查询所有记录 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select * from teacher
	</select>
</mapper>