<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">
	<!-- BoyConstructor.java -->
	<bean id="chinaGirlFriend" class="com.bsl.spring.set.ChinaGirlFriend">
		<property name="language" value="chinese"></property>
	</bean>
	<bean id="boyConstructor" class="com.bsl.spring.set.BoyConstructor">
		<!-- 通过构造方法注入对象 -->
		<constructor-arg ref="chinaGirlFriend"></constructor-arg>
	</bean>
	
	<!-- BoySetter.java -->
	<bean id="japanGirlFriend" class="com.bsl.spring.set.JapanGirlFriend">
		<property name="language" value="japanese"></property>
	</bean>
	<bean id="boySetter" class="com.bsl.spring.set.BoySetter">
		<!-- 通过Setter方法注入对象 -->
		<property name="girlFriend" ref="japanGirlFriend"></property>
	</bean>
	
	<!-- BoyPNameSpace.java -->
	<bean id="usaGirlFriend" class="com.bsl.spring.set.UsaGirlFriend" p:language="english"/>
	<!-- 使用p命名空间注入属性值 -->
	<bean id="boyPNameSpace" class="com.bsl.spring.set.BoyPNameSpace" p:girlFriend-ref="usaGirlFriend"/>
	
	
</beans>